<!--<mat-card *ngIf="character" class="box">-->
<!--  <mat-card-title class="header">-->
<!--    {{character.name}}-->
<!--  </mat-card-title>-->
<div *ngIf="character">
{{character.id}}

</div>
<!--  <mat-card-content class="content">-->
<!--    <div>-->
<!--      Id: {{character.id}}-->
<!--    </div>-->
<!--    <div>-->
<!--      Episode: {{character.episode}}-->
<!--    </div>-->
<!--    <div>-->
<!--      Air date: {{character.origin}}-->
<!--    </div>-->
<!--    <div>-->
<!--      Created: {{character.created}}-->
<!--    </div>-->
<!--  </mat-card-content>-->

<!--  <mat-card-actions class="wrap">-->
<!--    <button mat-raised-button color="primary" (click)="getDetails()">Get details</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
